/* ==========================================================================
   Global styles: header, footer and common elements
   ========================================================================== */

/* Normalizing styles*/

html, body {
  color: var(--text-color);
  margin: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

button {
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.6rem 1rem;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  text-transform: uppercase;
}

.primary-button {
  background: var(--secondary-color);
  color: var(--white-background);
  padding: 0.6rem 2rem;
}

.primary-button--checked {
  color: var(--secondary-color);
  cursor: initial;
  background: none;
  border: 2px var(--secondary-color) solid;
}

.tertiary-button {
  border: 1px var(--border-color-secondary) solid;
  background: none;
  color: var(--border-color-secondary);
}

main {
  display: block;
}

a {
  background-color: transparent;
}

i.fas {
  margin-right: 0.3rem;
}

/* Global styles */

:root {
  --secondary-color: #ef5c11;
  --tertiary-color: #21aaeb;
  --border-color: #b8c3cc;
  --border-color-secondary: #454d53;

  --text-color: #292e33;
  --text-color-active: #023754;

  --background-color: #dae0e6;
  --secondary-background-color: #463eb4;
  --white-background: #ffffff;

  --success-color: #41b809;
  --warning-color: #fcab10;

  --box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.27);
}

.main-container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .main-container {
    width: 100%;
    margin: 0;
  }
}

.even-container {
  background: var(--background-color);
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  line-height: 1.15;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

header {
  background: var(--white-background);
  border-bottom: 1px var(--border-color) solid;
  padding: 0.7rem 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

header .main-container {
  display: flex;
  justify-content: space-between;
}

.header__options {
  display: flex;
}

.header__user-account {
}

.header__user-account img {
  border-radius: 24px;
  width: 48px;
}

nav {
  padding: 0 1.5rem;
}

nav a {
  display: inline-block;
  padding: 1.2rem 0.5rem 1rem;
}

nav .active {
  color: var(--tertiary-color);
  font-weight: bold;
}

footer {
  background: var(--text-color);
  color: var(--background-color);
  font-weight: 200;
  text-align: center;
  padding: 1.5rem 0;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  font-size: 0.8rem;
  margin: 3rem 0 0;
  padding: 0;
}

.breadcrumbs__item {
  color: var(--border-color-secondary);
  list-style: none;
}

.breadcrumbs__item a {
  color: var(--tertiary-color);
  text-transform: uppercase;
}

.breadcrumbs__item + .breadcrumbs__item::before {
  content: "â¯";
  position: relative;
  vertical-align: middle;
  margin: 0px 0.5rem;
}

/* ==========================================================================
   Event Page's styles
   ========================================================================== */

.hero-banner {
  padding: 1rem 0 4rem;
}

.hero-banner .main-container {
  display: flex;
  justify-content: space-around;
}

.hero-banner h1 {
  color: var(--text-color-active);
  margin-top: 4rem;
  line-height: 0.9;
}

h1 strong, .starred-event:first-child strong {
  color: var(--tertiary-color);
  font-weight: normal;
}

.starred-events {
  padding-bottom: 3rem;
}

.starred-events .main-container {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "starred starred"
    "secondary secondary";
}

.starred-event__media > * {
  margin: 12% 0;
}

.starred-event .starred-event__media {
  display: none;
}

.starred-event:first-child .starred-event__media {
  display: block;
}

.starred-event:first-child {
  background: linear-gradient(90deg, transparent 40%, var(--secondary-background-color) 0);
  display: flex;
  grid-area: starred;
  padding: 0;
  position: relative;
  top: -2rem;
}

.starred-event:first-child .starred-event__info {
  box-sizing: border-box;
  color: var(--background-color);
  padding: 3rem;
}

.starred-event__location {
   float: right;
   color: var(--secondary-color);
 }

.starred-event:first-child .starred-event__location {
  color: var(--tertiary-color);
}

.starred-event:first-child .starred-event__attendees {
  display: none;
}

.starred-event__options {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.starred-event:first-child .starred-event__options {
  justify-content: flex-end;
}

.starred-event__options button {
  margin-left: 0.8rem;
}

.starred-event {
  background: var(--white-background);
  padding: 2rem;
}

.starred-event:first-child .primary-button {
  display: block;
  background: var(--white-background);
}

.starred-event .primary-button {
  color: var(--secondary-background-color);
  display: none;
}

.starred-event .secondary-button {
  color: var(--white-background);
  background: var(--secondary-color);
}

.starred-event:first-child .secondary-button {
  background: none;
}

.starred-event__date, .starred-event__attendees {
  font-weight: 500;
}

.starred-event strong {
  color: var(--secondary-color);
}

.regular-events {
  padding: 2rem 0;
}

.regular-events .main-container {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  gap: 2rem;
}

.regular-events .event {
  position: relative;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.event__media img {
  cursor: pointer;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.event__info {
  padding: 1rem;
  position: relative;
}

.regular-events .event__type {
  color: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  background: var(--white-background);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  top: -1.3rem;
  right: 1rem;
}

.regular-events .event__type--premium {
  border: 2px var(--secondary-background-color) solid;
  color: var(--secondary-background-color);
  font-weight: 800;
  text-transform: uppercase;
}

.event__options {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 0.5rem;
}

.regular-events .event__deadline {
  color: var(--secondary-color);
}

/* ==========================================================================
   Event Details Page
   ========================================================================== */

.event-details__title {
  color: var(--text-color-active);
}

.event-details__date, .event-details button {
  display: inline-block;
}

.event-details__date {
  margin-right: 1.5rem;
}

.event-details__body {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
  grid-template-columns: 70% 30%;
}

.event-details__featured-image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.event-details__article-body {
  padding-top: 2rem;
}

.event-details__options {
  background: var(--background-color);
  border-radius: 0.5rem;
  padding: 3rem 2rem 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 6rem;
}

.event-details__options .event-details__date {
  display: flex;
}

.event-details__date i {
  font-size: 2rem;
  margin-right: 1rem;
}

.event-details__event-type {
  color: var(--text-color-active);
  font-family: "Playfair Display", serif;
  padding: 1rem 0 0;
}

.event-details__location {
  color: var(--text-color-active);
  display: block;
  padding: 1rem 0;
}

.event-details__body button {
  padding: 0.8rem 1rem;
}

.event-details__body .primary-button {
  float: right;
}

/* ==========================================================================
   Page States
   ========================================================================== */

#event-details {
  display: none;
}

.confirmation-modal, .warning-modal {
  display: none;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
