/* ==========================================================================
   Global styles: header, footer and common elements
   ========================================================================== */

/* Normalizing styles*/

html, body {
  margin: 0;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

button {
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0.8rem 1rem;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  text-transform: uppercase;
}

main {
  display: block;
}

a {
  background-color: transparent;
}

i.fas {
  margin-right: 0.3rem;
}

/* Global styles */

:root {
  --secondary-color: #ef5c11;
  --tertiary-color: #21aaeb;
  --border-color: #b8c3cc;

  --text-color: #292e33;
  --text-color-active: #023754;

  --background-color: #dae0e6;
  --secondary-background-color: #463eb4;
  --white-background: #ffffff;

  --success-color: #41b809;
  --warning-color: #fcab10;

  --box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.27);
}

.main-container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1140px) {
  .main-container {
    width: 100%;
    margin: 0;
  }
}

.even-container {
  background: var(--background-color);
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  line-height: 1.15;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

header {
  border-bottom: 1px var(--border-color) solid;
  padding: 0.7rem 0;
}

header .main-container {
  display: flex;
  justify-content: space-between;
}

.header__options {
  display: flex;
}

.header__user-account {
}

.header__user-account img {
  border-radius: 24px;
  width: 48px;
}

nav {
  padding: 0 1.5rem;
}

nav a {
  display: inline-block;
  padding: 1.2rem 0.5rem 1rem;
}

nav .active {
  color: var(--tertiary-color);
  font-weight: bold;
}

footer {
  background: var(--text-color);
  color: var(--background-color);
  font-weight: 200;
  text-align: center;
  padding: 1.5rem 0;
}

/* ==========================================================================
   Event Page's styles
   ========================================================================== */

.hero-banner {
  padding: 1rem 0 4rem;
}

.hero-banner .main-container {
  display: flex;
  justify-content: space-around;
}

.hero-banner h1 {
  color: var(--text-color-active);
  margin-top: 4rem;
  line-height: 0.9;
}

h1 strong, .starred-event:first-child strong {
  color: var(--tertiary-color);
  font-weight: normal;
}

.starred-events {
  padding-bottom: 3rem;
}

.starred-events .main-container {
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "starred starred"
    "secondary secondary";
}

.starred-event__media > * {
  margin: 12% 0;
}

.starred-event .starred-event__media {
  display: none;
}

.starred-event:first-child .starred-event__media {
  display: block;
}

.starred-event:first-child {
  background: linear-gradient(90deg, transparent 40%, var(--secondary-background-color) 0);
  display: flex;
  grid-area: starred;
  padding: 0;
  position: relative;
  top: -2rem;
}

.starred-event:first-child .starred-event__info {
  box-sizing: border-box;
  color: var(--background-color);
  padding: 3rem;
}

.starred-event__location {
   float: right;
   color: var(--secondary-color);
 }

.starred-event:first-child .starred-event__location {
  color: var(--tertiary-color);
}

.starred-event:first-child .starred-event__attendees {
  display: none;
}

.starred-event__options {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.starred-event:first-child .starred-event__options {
  justify-content: flex-end;
}

.starred-event__options button {
  margin-left: 0.8rem;
}

.starred-event {
  background: var(--white-background);
  padding: 2rem;
}

.starred-event:first-child .primary-button {
  display: block;
}

.starred-event .primary-button {
  color: var(--secondary-background-color);
  display: none;
}

.starred-event .secondary-button {
  color: var(--white-background);
  background: var(--secondary-color);
}

.starred-event:first-child .secondary-button {
  background: none;
}

.starred-event__date, .starred-event__attendees {
  font-weight: 500;
}

.starred-event strong {
  color: var(--secondary-color);
}

.regular-events {
  padding: 2rem 0;
}

.regular-events .main-container {
  display: grid;
  grid-template: auto / 1fr 1fr 1fr;
  gap: 2rem;
}

.regular-events .event {
  position: relative;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.event__media img {
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.event__info {
  padding: 1rem;
  position: relative;
}

.regular-events .event__type {
  color: var(--tertiary-color);
  box-shadow: var(--box-shadow);
  background: var(--white-background);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  top: -1.3rem;
  right: 1rem;
}

.regular-events .event__type--premium {
  border: 2px var(--secondary-background-color) solid;
  color: var(--secondary-background-color);
  font-weight: 800;
  text-transform: uppercase;
}

.event__options {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0 0.5rem;
}

.regular-events .event__deadline {
  color: var(--secondary-color);
}

.regular-events .primary-button {
  background: var(--secondary-color);
  color: var(--white-background);
  padding: 0.4rem 1.5rem;
}

.regular-events .primary-button--checked {
  color: var(--secondary-color);
  background: none;
  border: 2px var(--secondary-color) solid;
}











/* ==========================================================================
   Event Details Page
   ========================================================================== */

#event-details, .confirmation-modal, .warning-modal {
  display: none;
}



/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
